# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug folder
Debug/

# Release folder
Release/

# Platform-specific settings
.settings/org.eclipse.cdt.core.prefs
.cproject
