[submodule "proto"]
	path = proto
	url = https://github.com/particle-iot/firmware-protobuf.git
[submodule "third_party/nrf5_sdk/nrf5_sdk"]
	path = third_party/nrf5_sdk/nrf5_sdk
	url = ../nrf5_sdk.git
